<ion-header translucent>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button (click)="backToList();"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">My Profile </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <form [formGroup]="myProfileForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item >
        <ion-label position="floating">
            <fa-icon [icon]="['fas','user']" style="padding-right: 10px;"></fa-icon>
          First Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="firstname" id="firstName" class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            <fa-icon [icon]="['fas','user']" style="padding-right: 10px;"></fa-icon>
          Last Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="lastname" id="lastName" class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Gender <ion-text color="danger">*</ion-text></ion-label>
          <ion-select placeholder="Select One" formControlName="gender" class="ion-margin-top">
              <ion-select-option *ngFor="let gender of [{name: 'Male', key: 'M'}, {name: 'Female', key: 'F'}]"
              [value]="gender.key">{{gender.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item> 
        <ion-label position="floating"> <ion-icon name="mail" style="padding-right: 10px;"></ion-icon> Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" type="email" formControlName="email" class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            
            <fa-icon [icon]="['fas','birthday-cake']" style="padding-right: 10px;"></fa-icon>
          DOB <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm"  formControlName="dob" class="ion-margin-top"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            <fa-icon [icon]="['fas','ruler-vertical']" style="padding-right: 10px;"></fa-icon>
          Height (cms) <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="height" id="height" class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            <fa-icon [icon]="['fas','weight']" style="padding-right: 10px;"></fa-icon>
          Weight <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="weight" id="height" class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            <fa-icon [icon]="['fas','dollar-sign']" style="padding-right: 10px;"></fa-icon>
            
          Salary <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="number"  formControlName="salary" id="height"class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            <fa-icon [icon]="['fas','mobile-alt']" style="padding-right: 10px;"></fa-icon>
          Mobile number <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="number"  formControlName="mobileno" class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Complexion <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="complexion" class="ion-margin-top">
            <ion-select-option *ngFor="let complexion of userPrefs.COMPLEXION"
            [value]="complexion.fieldValue">{{complexion.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            <fa-icon [icon]="['fas','graduation-cap']" style="padding-right: 10px;"></fa-icon>
          Education <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="education" class="ion-margin-top">
            <ion-select-option *ngFor="let education of userPrefs.EDUCATION"
            [value]="education.fieldValue">{{education.fieldName}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
            <fa-icon [icon]="['fas','briefcase']" style="padding-right: 10px;"></fa-icon>
          Occupation <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="occupation" class="ion-margin-top">
            <ion-select-option *ngFor="let occupation of userPrefs.OCCUPATION"
            [value]="occupation.fieldValue">{{occupation.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Paternal Gotram <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="paternalGotram" class="ion-margin-top">
            <ion-select-option *ngFor="let paternalGotram of userPrefs.GOTRAM"
            [value]="paternalGotram.fieldValue">{{paternalGotram.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Maternal Gotram <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="maternalGotram" class="ion-margin-top">
            <ion-select-option *ngFor="let maternalGotram of userPrefs.GOTRAM"
            [value]="maternalGotram.fieldValue">{{maternalGotram.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Rasi <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="rasi" (ionChange)="editProfileRasiChange($event)" class="ion-margin-top">
            <ion-select-option *ngFor="let rasi of userPrefs.RASI"
            [value]="rasi.fieldValue">{{rasi.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Star <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="star" class="ion-margin-top">
            <ion-select-option *ngFor="let star of editProfileStarArr"
            [value]="star.fieldValue">{{star.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Caste <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="caste" class="ion-margin-top">
            <ion-select-option *ngFor="let caste of userPrefs.CASTE"
            [value]="caste.fieldValue">{{caste.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Religion <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="religion" class="ion-margin-top">
            <ion-select-option *ngFor="let religion of userPrefs.RELIGION"
            [value]="religion.fieldValue">{{religion.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marital Status <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="maritalstatus" class="ion-margin-top">
            <ion-select-option *ngFor="let maritalstatus of userPrefs.MARITAL_STATUS"
            [value]="maritalstatus.fieldValue">{{maritalstatus.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Family Status <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="familyStatus" class="ion-margin-top">
            <ion-select-option *ngFor="let familyStatus of userPrefs.FAMILY_STATUS"
            [value]="familyStatus.fieldValue">{{familyStatus.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Family Type <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="familyType" class="ion-margin-top">
            <ion-select-option *ngFor="let familyType of userPrefs.FAMILY_TYPE"
            [value]="familyType.fieldValue">{{familyType.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Family Values <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="familyValues" class="ion-margin-top">
            <ion-select-option *ngFor="let familyValues of userPrefs.FAMILY_VALUES"
            [value]="familyValues.fieldValue">{{familyValues.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tags <ion-text color="danger">*</ion-text></ion-label>
        <ion-select placeholder="Select One" formControlName="tags" multiple="true" class="ion-margin-top">
            <ion-select-option *ngFor="let tags of userPrefs.TAG"
            [value]="tags.fieldValue">{{tags.fieldName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">About Self <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea required type="text"  formControlName="aboutSelf" class="ion-margin-top"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea required type="text"  formControlName="address" class="ion-margin-top"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Latitude <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="latitude" class="ion-margin-top"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Longitude <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="longitude" class="ion-margin-top"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="applyUpdates()">Update</ion-button>
    </div>
  </form>
</ion-content>