<ion-header translucent>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button (click)="backToList();"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 14px;">{{profileId}} </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="sendShare()">
        <ion-icon name="share" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="updateFavouriteEvent(profile)">
        <ion-icon name="star" slot="icon-only" [color]="profile.favorite"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="updateLikeEvent(profile)">
        <ion-icon name="thumbs-up" slot="icon-only" [color]="profile.likeColor"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding ">
  <div height="100%" width="100%" class="s1isp7-0 dlDCkM center">
    <img alt="image" [src]="profile.photoLink" loading="lazy"></div>
  <!-- <img [src]="profile.photoLink" fullscreen class="center"/> -->
  <ion-grid class="basic-Details">
    <ion-row>
      <ion-col style="text-align: center; font-size: 18px;">
        {{profile.firstname}} {{profile.lastname}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button checked value="info">
        <ion-label>Basic Info</ion-label>
        </ion-segment-button>
    <!--   <ion-segment-button value="astrology">
        <ion-label>Astrology</ion-label>
      </ion-segment-button> -->
      <ion-segment-button value="history">
        <ion-label>Log</ion-label>
        </ion-segment-button>
    <!-- <ion-segment-button value="stats">
        <ion-label>Stats</ion-label>
    </ion-segment-button> -->
  </ion-segment>
  <div [ngSwitch]="selected">
    <div *ngSwitchCase="'astrology'">
      <ion-grid class="basic-Details grid-table">
        <ion-row>
          <ion-col size="3">
            Guna
          </ion-col>
          <ion-col size="3">
            <fa-icon [icon]="['fas','male']"></fa-icon>
            Groom
          </ion-col>
          <ion-col size="3">
            <fa-icon [icon]="['fas','female']"></fa-icon>
            Bride
          </ion-col>
          <ion-col size="3">
            Points
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Varna
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomVarna}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideVarna}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.varnaCnt}}/1
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Vashya
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomVasya}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideVasya}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.vasyaCnt}}/2
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Star
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomStar}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideStar}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.starCnt}}/3
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Yoni
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomYoni}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideYoni}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.yoniCnt}}/4
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Graha Maitri
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomGrahaMitri}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideGrahaMitri}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.grahaMitriCnt}}/5
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Gana
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomGana}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideGana}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.ganaCnt}}/6
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Rashi
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomRasi}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideRasi}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.rasiCnt}}/7
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            Nadi
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.groomNadi}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.brideNadi}}
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.nadiCnt}}/8
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">

          </ion-col>
          <ion-col size="3">

          </ion-col>
          <ion-col size="3">
            Total Count
          </ion-col>
          <ion-col size="3">
            {{gunaMatchResults?.totalCnt}}/36
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'history'">
      <div *ngFor="let event of profile.eventLogs">
        <ion-item>
          <ion-icon slot="end" color="medium" name="thumbs-up" *ngIf="event.eventType==1"></ion-icon>
          <ion-icon slot="end" color="medium" name="text" *ngIf="event.eventType==2"></ion-icon>
          <ion-icon slot="end" color="medium" name="heart" *ngIf="event.eventType==3"></ion-icon>
          <ion-label class="timeline-label ion-text-wrap">
            <!-- <p>{{event?.toUserId?.userId}} {{event?.toUserId?.firstname}}</p> -->
            <p *ngIf="event?.message">{{event?.message}}</p>
            <p>{{event?.recCrtTs}} </p>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <div *ngSwitchDefault style="margin-top: 10px;">
      <!-- <h2> Personal Information </h2> -->
      <ion-list >
        <ion-item-group>
          <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
            <ion-icon slot="end" name="book" size="medium" class="ion-margin-end"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">About Profile</ion-label>
          </ion-item-divider>
        <!-- <ion-item>
          <ion-icon slot="start" name="create"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">About Profile</ion-label>
        </ion-item> -->
        <ion-item style="font-size: 14px;">
          {{profile.aboutSelf}}
        </ion-item>
        </ion-item-group>
      </ion-list>
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
            <ion-icon slot="end" name="list-box" size="medium" class="ion-margin-end"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">Basic Details</ion-label>
          </ion-item-divider>
        <!-- <ion-item>
          <ion-icon slot="start" name="list-box"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">Basic Details</ion-label>
        </ion-item> -->

        <ion-item>
          <ion-label style="font-size: 14px;"> 
              <!-- <fa-icon [icon]="['fas','user']" ></fa-icon> -->
            Name </ion-label>
          <ion-label slot="end" class="ion-text-wrap" style="font-size: 14px;">
            {{profile.firstname}} {{profile.lastname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Gender </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.gender === 'M' ? 'Male': 'Female'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> 
              <!-- <fa-icon [icon]="['fas','birthday-cake']" ></fa-icon> -->
            Age </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.age}} yrs, {{profile?.dob | date:'dd/MMM/yyyy'}}
            <ion-icon name="bulb" slot="end" color="medium" *ngIf=profile?.prefMatchMap?.age></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> 
              <!-- <fa-icon [icon]="['fas','ruler-vertical']" ></fa-icon> -->
            Height </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">

            {{profile?.height?.cms}} cms
            <ion-icon name="bulb" slot="end" color="medium" *ngIf=profile?.prefMatchMap?.height></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> 
          <!-- <fa-icon [icon]="['fas','weight']" ></fa-icon> -->
          weight </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile.weight}} kgs, {{profile.bmi}} BMI</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Marital Status </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.maritalstatus}}
            <ion-icon name="bulb" slot="end" color="medium" *ngIf=profile?.prefMatchMap?.maritalStatus></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Complexion </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.complexion}}
            <ion-icon name="bulb" slot="end" color="medium" *ngIf=profile?.prefMatchMap?.complexion></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-size: 14px;"> 
                <!-- <ion-icon name="pin" style="margin-bottom: -1px;"></ion-icon> -->
                Distance </ion-label>
            <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
                {{profile?.distance?.kms}} kms
              
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
            <ion-icon slot="end" name="planet" size="medium" class="ion-margin-end"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">Religious Information</ion-label>
          </ion-item-divider>

        <!-- <ion-item>
          <ion-icon slot="start" name="planet"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">Religious Information</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-label style="font-size: 14px;"> Religion </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile.religion}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Caste </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.caste}}
            <ion-icon name="bulb" slot="end" color="medium" *ngIf=profile?.prefMatchMap?.caste></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Paternal Gotram </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.paternalGotram}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Maternal Gotram </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.maternalGotram}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Raasi </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
              <ion-icon slot="start" [src]="'../assets/icon/'+profile?.rasi+'.svg'" ></ion-icon>
            {{profile?.rasi}}
            <ion-icon name="bulb" slot="end" color="medium" *ngIf=profile?.prefMatchMap?.rasi></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Star </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.star}}
            <ion-icon name="bulb" slot="end" color="medium" *ngIf=profile?.prefMatchMap?.star></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item detail="true" button (click)="showGunaCount();">
            <ion-label style="font-size: 14px;"> Guna Count </ion-label>
            <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
              {{profile?.gunaCount}}/36
            </ion-label>
        </ion-item>
      </ion-item-group>
      </ion-list>
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
            <ion-icon slot="end" name="school" size="medium" class="ion-margin-end"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">Professional Information</ion-label>
          </ion-item-divider>
        <!-- <ion-item>
          <ion-icon slot="start" name="school"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">Professional Information</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-label style="font-size: 14px;"> 
              <ion-icon name="school" style="margin-bottom: -1px;"></ion-icon>
            Education </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
             {{profile?.education}}
            <ion-icon name="bulb" slot="end" *ngIf=profile?.prefMatchMap?.education style="margin-bottom: -3px;"></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> 
              <ion-icon name="briefcase" style="margin-bottom: -1px;"></ion-icon>
            Occupation </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile?.occupation}}
            <ion-icon name="bulb" slot="end" color="medium" style="margin-bottom: -3px;" *ngIf=profile?.prefMatchMap?.occupation></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;">
              <fa-icon [icon]="['fas','rupee-sign']"></fa-icon>
            Annual Income </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{formatCurrency(profile?.salary)}}</ion-label>
        </ion-item>
        </ion-item-group>
      </ion-list>
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
            <ion-icon slot="end" name="people" size="medium" class="ion-margin-end"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">Family Details</ion-label>
          </ion-item-divider>
        <!-- <ion-item>
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">Family Details</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-label style="font-size: 14px;"> Family Status </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile.familyStatus}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Family Type </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile.familyType}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Family Values </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">
            {{profile.familyValues}}</ion-label>
        </ion-item>
        </ion-item-group>
      </ion-list>
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
            <ion-icon slot="end" name="attach" size="medium" class="ion-margin-end"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">Tag Details</ion-label>
          </ion-item-divider>
        <!-- <ion-item>
          <ion-icon slot="start" name="attach"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">Tag Details</ion-label>
        </ion-item> -->
        </ion-item-group>
      </ion-list>
          <p>
          <ion-chip outline color="primary" style="pointer-events: none;" *ngFor="let tag of profile.tags">
            <ion-label> {{tag}}</ion-label>
          </ion-chip>
        </p>
      <!-- <ion-grid class="basic-Details">
        <ion-row>
          <ion-col>
            <span [style.font-style]="profile?.prefMatchMap?.age ?'italic':'inherit'">
              {{profile?.age}} yrs</span>,
            <span [style.font-style]="profile?.prefMatchMap?.height ?'italic':'inherit'">
              {{profile?.height?.cms}} cms
            </span>
          </ion-col>
          <ion-col>
            {{profile.weight}} kgs, {{profile.bmi}} BMI
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                {{profile?.gender === 'M' ? 'Male': 'Female'}}
            </ion-col>
            <ion-col>
                <span [style.font-style]="profile?.prefMatchMap?.maritalStatus ?'italic':'inherit'">
                    {{profile?.maritalstatus}}
                  </span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <span [style.font-style]="profile?.prefMatchMap?.education ?'italic':'inherit'">
                    <ion-icon name="school"></ion-icon> {{profile?.education}}
                </span>
            </ion-col>
          <ion-col>
              <span [style.font-style]="profile?.prefMatchMap?.occupation ?'italic':'inherit'">
                  <fa-icon [icon]="['fas','briefcase']"></fa-icon>
                  {{profile?.occupation}}
              </span>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <span [style.font-style]="profile?.prefMatchMap?.complexion ?'italic':'inherit'">
                    {{profile?.complexion}}
                  </span>
            </ion-col>
            <ion-col>
              {{formatCurrency(profile?.salary)}}
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
            {{profile.religion}}, 
            <span [style.font-style]="profile?.prefMatchMap?.caste ?'italic':'inherit'">
                {{profile?.caste}}
              </span>
          </ion-col>
          <ion-col>
            <span [style.font-style]="profile?.prefMatchMap?.star ?'italic':'inherit'">
              {{profile?.star}}
            </span> / <span [style.font-style]="profile?.prefMatchMap?.rasi ?'italic':'inherit'">
              {{profile?.rasi}}
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{profile.paternalGotram}}, {{profile.maternalGotram}}
          </ion-col>
          <ion-col>
            {{profile.familyType}}, {{profile.familyStatus}}, {{profile.familyValues}}
          </ion-col>
        </ion-row>
        
        <ion-row style="border-top: 1px solid #c1c4cd; margin-top:10px">
          <ion-col>
            {{profile.aboutSelf}}
          </ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
            <ion-icon slot="end" name="color-wand" size="medium" class="ion-margin-end"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">Partner Preferences</ion-label>
          </ion-item-divider>
        <!-- <ion-item>
          <ion-icon slot="start" name="color-wand"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">Partner Preferences</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-label style="font-size: 14px;"> Marital Status </ion-label>
          <ion-label slot="end" class="ion-text-wrap" style="font-size: 14px;"
            *ngIf="profile?.partnerPreference?.maritalstatus">
            {{profile?.partnerPreference?.maritalstatusDesc}}</ion-label>
          <ion-label slot="end" class="ion-text-wrap" style="font-size: 14px;"
            *ngIf="!profile?.partnerPreference?.maritalstatus">
            NA</ion-label>

        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Caste </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap"
            *ngIf="profile?.partnerPreference?.caste">
            {{profile?.partnerPreference?.casteDesc}}</ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap"
            *ngIf="!profile?.partnerPreference?.caste">
            NA</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Complexion </ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="profile?.partnerPreference?.complexion"
            class="ion-text-wrap">
            {{profile?.partnerPreference?.complexionDesc}}</ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="!profile?.partnerPreference?.complexion"
            class="ion-text-wrap">
            NA</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Education </ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="profile?.partnerPreference?.education"
            class="ion-text-wrap">
            {{profile?.partnerPreference?.educationDesc}}</ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="!profile?.partnerPreference?.education"
            class="ion-text-wrap">
            NA</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Occupation </ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="profile?.partnerPreference?.occupation"
            class="ion-text-wrap">
            {{profile?.partnerPreference?.occupationDesc}}</ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="!profile?.partnerPreference?.occupation"
            class="ion-text-wrap">
            NA</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Rasi </ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="profile?.partnerPreference?.rasi" class="ion-text-wrap">
            {{profile?.partnerPreference?.rasiDesc}}</ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="!profile?.partnerPreference?.rasi"
            class="ion-text-wrap">
            NA</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Star </ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="profile?.partnerPreference?.star" class="ion-text-wrap">
            {{profile?.partnerPreference?.starDesc}}</ion-label>
          <ion-label slot="end" style="font-size: 14px;" *ngIf="!profile?.partnerPreference?.star"
            class="ion-text-wrap">
            NA</ion-label>
        </ion-item>
        </ion-item-group>
      </ion-list>
    </div>
    <!-- <div *ngSwitchCase="'stats'">
      statss
    </div> -->
  </div>
</ion-content>