<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backToDashboard();"></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <div  *ngFor="let event of eventsAsArray">
          <ion-item>
              <ion-icon slot="end" [name]="eventType?.icon" color="primary"></ion-icon>
              <ion-label>{{eventType.title}} {{events[event].text}} ({{events[event].data.length}})</ion-label>
            </ion-item>
          
          <div *ngFor="let user of events[event].data">
          <ion-item detail="true" button (click)="showProfile(user);" >
              <ion-avatar slot="start">
                <img [src]="user?.photoLink">
              </ion-avatar>
              <ion-label>
                <h3>{{user?.userId}} - {{user?.firstname}}</h3>
                <p>{{user?.age}} yrs, {{user?.height?.cms}} cms, {{user?.maritalstatus}}</p>
                <p>
                  <fa-icon [icon]="['fas','briefcase']" ></fa-icon>
                  {{user?.occupation}} <ion-icon name="school"></ion-icon> {{user?.education}}</p>
                <p>
                  <fa-icon [icon]="['fas','map-marker']"></fa-icon>
                  {{user?.distance?.kms}} kms
                  <ion-icon name="planet" slot="start"></ion-icon>
                  {{user?.gunaCount}}/36
    
                  <!-- <fa-icon [icon]="['fas','wallet']"></fa-icon> -->
                  {{formatCurrency(user?.salary)}}
                </p>
              </ion-label>
            </ion-item>
          </div>
      </div>
    
  </ion-list>

  <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
</ion-content>