<ion-header translucent>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button (click)="backToList();"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">Update Password </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding ">
  <form [formGroup]="myProfilePwdForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">
          <fa-icon [icon]="['fas','key']" style="padding-right: 10px;"></fa-icon>
          Current Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" formControlName="currentPwd" id="currentPwd"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <fa-icon [icon]="['fas','check']" style="padding-right: 10px;"></fa-icon>
          New Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" formControlName="newPwd" id="newPwd"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <fa-icon [icon]="['fas','check-double']" style="padding-right: 10px;"></fa-icon>
          Confirm Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" formControlName="confirmPwd" id="confirmPwd"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="pwdUpdate()">Update</ion-button>
    </div>

  </form>
</ion-content>