<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Utilities
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      
      <ion-item detail="true" button (click)="showDateDiffCalcPage();">
        <ion-icon slot="start" color="medium" name="calculator"></ion-icon>
        <ion-label class="ion-text-wrap">
            <h1>Calculator Utilities</h1>
            <h3>Date between two dates </h3>
          </ion-label>
      </ion-item>

      <ion-item detail="true" button (click)="showBmiPage();">
          <ion-icon slot="start" color="medium" name="body"></ion-icon>
        <ion-label>
          <h1>BMI</h1>
          <h3>Calculate BMI from Height & Weight</h3>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
