<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="backToList();"></ion-back-button>
      </ion-buttons>
      <ion-title style="font-size: 16px;">Filters </ion-title>
      <ion-buttons slot="end">
          <ion-button fill="clear" (click)="applyFilters()">
              <ion-label>Apply</ion-label>
            </ion-button>
        <ion-button fill="clear" (click)="clearFilters()">
          <ion-label>Reset</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen class="ion-padding ">
      <ion-list>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="selectedGender">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item>
            <ion-label>Marital Status</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="selectedMaritalStatus">
              <ion-select-option value="u">Unmarried</ion-select-option>
              <ion-select-option value="d">Divorced</ion-select-option>
              <ion-select-option value="w">Widow/Widower</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Education</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="selectedEducation">
                <ion-select-option value="bTech">B.Tech</ion-select-option>
                <ion-select-option value="mTech">M.Tech</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Caste</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="selectedCaste">
                <ion-select-option value="vysya">Vysya</ion-select-option>
                <ion-select-option value="reddy">Reddy</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Religion</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="selectedReligion">
                <ion-select-option value="hindu">Hindu</ion-select-option>
                <ion-select-option value="muslim">Muslim</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Family Status</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="selectedFamilyStatus">
                <ion-select-option value="rich">Rich</ion-select-option>
                <ion-select-option value="muslim">Affulant</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Family Type</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="selectedFamilyType">
                <ion-select-option value="FT1">FT1</ion-select-option>
                <ion-select-option value="FT2">FT2</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Family Values</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="selectedFamilyValues">
                <ion-select-option value="FV1">FV1</ion-select-option>
                <ion-select-option value="FV2">FV2</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Age</ion-label>
              <ion-range min="21" max="60" dual-knobs color="secondary" [(ngModel)]="selectedAgeRange">
                <ion-label slot="start">21</ion-label>
                <ion-label slot="end">60</ion-label>
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="filter-label">Height (cms)</ion-label>
              
            </ion-item>
            <ion-item>
              <ion-range min="101" max="170" dual-knobs color="secondary"  [(ngModel)]="selectedHeightRange">
                <ion-label slot="start">101</ion-label>
                <ion-label slot="end">170</ion-label>
              </ion-range>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="filter-label">Min Salary</ion-label>
              
            </ion-item>
            <ion-item>
              
              <ion-range min="1" max="10000000" color="secondary" [(ngModel)]="selectedMinSalary">
                <ion-label slot="start">1</ion-label>
                <ion-label slot="end">10000000</ion-label>
              </ion-range>
            </ion-item>
            <ion-item>
              <ion-label>Distance</ion-label>
              <ion-range min="1" max="10000000" color="secondary" [(ngModel)]="selectedMaxDistance">
                <ion-label slot="start">1</ion-label>
                <ion-label slot="end">6500</ion-label>
              </ion-range>
            </ion-item>
        </ion-list>
  </ion-content>