.pop-over-style .popover-content {
    --min-width: 300px !important;
    left: 0px;
}
ion-toolbar {
    .notification-icon-button {
      --overflow: visible;
  
      ion-badge {
        position: absolute;
        background: #f70b0b;
        border-radius: 50%;
        opacity: 0.9;
        top: 0.1rem;
        right: 0.2rem;
      }
    }
  }