<ion-header translucent>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button (click)="backToList();"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">Date Difference</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding ">
  <form [formGroup]="calculatorForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label >From <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fromDate" (ionChange)='calculate()'>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label >To  <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="toDate" (ionChange)='calculate()'>
        </ion-datetime>
      </ion-item>
    </ion-list>
    <!-- <ion-list lines="full" *ngIf="dateDiff">
            <ion-list-header>
                Date Difference
              </ion-list-header>
            <ion-item>
              <ion-label >Years </ion-label>
              <ion-text slot="end" color="primary">{{dateDiff?.years}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label >Months </ion-label>
                <ion-text slot="end" color="primary">{{dateDiff?.months}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label >Days </ion-label>
                <ion-text slot="end" color="primary">{{dateDiff?.days}}</ion-text>
            </ion-item>
    </ion-list> -->
    <ion-list *ngIf="dateDiff">
      <ion-item-group>
        <ion-item-divider style="border-radius: 10px; background-color: whitesmoke;" color="light" >
          <ion-icon slot="end" name="calendar" size="toolbar" class="ion-margin-end"></ion-icon>
          <ion-label style="font-size: 20px;font-weight: bold;">Difference</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label style="font-size: 14px;"> Years </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">{{dateDiff?.years}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Months </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">{{dateDiff?.months}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 14px;"> Days </ion-label>
          <ion-label slot="end" style="font-size: 14px;" class="ion-text-wrap">{{dateDiff?.days}}</ion-label>
        </ion-item>
        </ion-item-group>
      </ion-list>
  </form>
</ion-content>