/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-toolbar: #bb8a59;
    --ion-color-toolbar-rgb: 187,138,89;
    --ion-color-toolbar-contrast: #000000;
    --ion-color-toolbar-contrast-rgb: 0,0,0;
    --ion-color-toolbar-shade: #a5794e;
    --ion-color-toolbar-tint: #c2966a;
  }
  
  .ion-color-toolbar {
    --ion-color-base: #3f4c61;
    --ion-color-base-rgb: 63,76,97;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade:  #374355;
    --ion-color-tint: #525e71;
  }
  