<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backToList();"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">My QR Code </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding ">
  <ion-list>
    <!-- <ion-item>
      <ion-label class="ion-text-wrap">
        <h3>My QR Code </h3>
      </ion-label>
    </ion-item> -->
    <ion-item>
      <img [src]="qrCode" />
    </ion-item>
    <ion-item>
      <ion-button style="width: 50%;" fill="clear" (click)="sendShare()">
        <ion-icon name="share"></ion-icon>
        <ion-label style="margin: 5px;">
        Share</ion-label>
      </ion-button>
      <ion-button style="width: 50%;" fill="clear" (click)="saveImage()">
        <ion-icon name="download"></ion-icon>
      <ion-label style="margin: 5px;">Download</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>