<ion-header translucent>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button (click)="backToList();"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">My QR Code </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding ">
  <ion-list>
    
    <ion-item>
      <img [src]="qrCode" />
    </ion-item>
    <ion-item>
      <ion-button style="width: 50%;" fill="solid" (click)="sendShare()" color="toolbar" shape="round">
        <ion-icon name="share"></ion-icon>
        <ion-label style="margin: 5px;">
        Share</ion-label>
      </ion-button>
      <ion-button style="width: 50%;" fill="solid" (click)="saveImage()" color="toolbar" shape="round">
        <ion-icon name="download"></ion-icon>
      <ion-label style="margin: 5px;">Download</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
  
  <!-- <ion-toolbar>
    <ion-segment (ionChange)="slides.slideTo(segment)" [(ngModel)]="segment"  >
      <ion-segment-button value="0" checked>
        <ion-label>Basic Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Log</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Log2</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-slides #slides (ionSlideWillChange)="segment=''+slides.getActiveIndex()" pager="true">
    <ion-slide style="min-height: 200px;">
     First
    </ion-slide>
    <ion-slide style="min-height: 200px;">
      second
    </ion-slide>
    <ion-slide style="min-height: 200px;">
      third
    </ion-slide>
  </ion-slides> -->

</ion-content>